.idea/
*.pkl
*.state
*.pyc
/src/data/*.csv
!/src/data/test_data.csv

/src/*.ipynb
/src/**/*checkpoint.ipynb
!/src/ExampleNotebook.ipynb
!/src/CrashAnalysisTour.ipynb

/tmp

crash_analysis/_private.py
.DS_Store
CrashAnalysis/
